# ASSIGNMENT NO. 3:- PYTHON TUPLE

A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. The
differences between tuples and lists are, the tuples cannot be changed unlike lists.Tuples use
Parenthesis (), whereas lists use square [] brackets.

In [2]:
import sys
print(sys.executable)
!python --version

/usr/bin/python3
Python 2.7.18

In [5]:
Tuple = () # empty tuple
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5 );
tup3 = "a", "b", "c", "d";
print(tup3)
print("type of tup3=",type(tup3))

('a', 'b', 'c', 'd')
type of tup3= <class 'tuple'>

Accessing values of a tuple

In [6]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5, 6, 7 );
print("tup1=",tup1)
print("tup2=",tup2)

tup1= ('physics', 'chemistry', 1997, 2000)
tup2= (1, 2, 3, 4, 5, 6, 7)

In [9]:
# slicing access
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5, 6, 7 );
print("tup1 slice=",tup1[0:1])
print("tup1 slice=",tup1[0:2])
print("tup2 slice=",tup2[2:6])

tup1 slice= ('physics',)
tup1 slice= ('physics', 'chemistry')
tup2 slice= (3, 4, 5, 6)

# Set-A

# 1. Reverse the following tuple aTup = (10, 20, 30, 40, 50)

reversed() is a built-in function in Python used to get a reversed iterator of a sequence. 
reversed function is similar to the iter() method but in reverse order. 
An iterator is an object used to iterate over an iterable.

The tuple() function is used to create a tuple from a list, set, or any iterable object.

In [14]:
aTup = (10, 20, 30, 40, 50)
out_tup=tuple(reversed(aTup))
print("reversed tuple=",out_tup)

reversed tuple= (50, 40, 30, 20, 10)

# 2. Write a Python program to create a list of tuples with the first element as the number and second element as the square of the number.

methods used:
range() :
In Python, the range() function is used to generate a sequence of numbers. 
It's commonly used in for loops to iterate over a sequence of numbers.

i**2 :
The ** operator is the exponentiation operator, and it raises the left operand to the power of the right operand.    
    
list.append():
The append method is used to add a single element at the end of the list.

In [26]:
n=5;
def list_of_tuples(n):
    #create a empty base list
    ans=[]
    for i in range(1,n+1):
        temp=(i,i**2)
        print("type of temp",type(temp))
        ans.append(temp)
        
    return ans

ans=list_of_tuples(n)
print("output=",ans)
print("type of ans=",type(ans))

type of temp <class 'tuple'>
type of temp <class 'tuple'>
type of temp <class 'tuple'>
type of temp <class 'tuple'>
type of temp <class 'tuple'>
output= [(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]
type of ans= <class 'list'>

# 3. Write a Python program to create a tuple with numbers and print one item.

a list of elements is created and the entire list is  inserted into a tuple with the tuple() :
a tuple is a built-in data type that allows you to create immutable sequences of values. 
The values or items in a tuple can be of any type. 
This makes tuples pretty useful in those situations where you need to store heterogeneous data, 
like that in a database record, for example.

In [7]:
#empty tuple
tup=()
temp_lst=[]
for i in range(1,11):
    print("ilterable=",i)
    temp_lst.append(i)

tup=tuple(temp_lst)
print("tup=",tup)
print("type of tup=",type(tup))
print("single element from tuple=",tup[3])

ilterable= 1
ilterable= 2
ilterable= 3
ilterable= 4
ilterable= 5
ilterable= 6
ilterable= 7
ilterable= 8
ilterable= 9
ilterable= 10
tup= (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
type of tup= <class 'tuple'>
single element from tuple= 4

# 4. Write a Python program to unpack a tuple in several variables.

When unpacking a tuple of long length, 
it's helpful to use the * operator, also known as the "splat" operator, 
to capture multiple values at once

In this example, first will hold the first element of the tuple, 
last will hold the last element, 
and middle will hold all the elements in between. 
The *middle syntax gathers all the elements in between into a list

we use unpacking as to remove the concept of immutable

In [28]:
#create a tuple
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

#len of the tuple
print("len of tuple fruits=",len(fruits));

#unpacking logic
fir,*mid,las=fruits
print("first=",fir)
print("middle=",mid)
print("last=",las)

len of tuple fruits= 5
first= apple
middle= ['banana', 'cherry', 'strawberry']
last= raspberry

## 5. Write a Python program to add an item in a tuple.

In [7]:
#create empty tuple 
tup=(0,)
#add element to tuple using += operator
tup+=(1,) 
print("type of tup before=",type(tup))
tup+=(2,)
tup+=(3,)
tup+=(4,)
print("tup =",tup)
print("type of tup after=",type(tup))

type of tup before= <class 'tuple'>
tup = (0, 1, 2, 3, 4)
type of tup after= <class 'tuple'>

tup+=(1,) 
The comma is necessary to indicate that it's a tuple and not just a grouped expression.
Without the comma, it would be treated as a string inside parentheses:

In [12]:
#create tuple 
tup=(0,1,2,3)

#print type of tup
print("type of tup=",type(tup))
#convert method for adding a element into tuple
#convert tuple to list
lst=list(tup)
#print type of lst
print("type of lst",type(lst))
lst.append(4)
lst.append(5)
lst.append(6)
#convert list to tuple back
tup=tuple(lst)
#print type of tup
print("type of tup=",type(tup))
print("tup =",tup)

type of tup= <class 'tuple'>
type of lst <class 'list'>
type of tup= <class 'tuple'>
tup = (0, 1, 2, 3, 4, 5, 6)

## 6. Copy element 44 and 55 from the following tuple into a new tuple 
## tuple1 = (11, 22, 33, 44, 55, 66)

In [20]:
#create tuple
tuple1=(11,22,33,44,55,66)
# we use slice method to Achive it
tuple2=tuple1[3:-1]
#[start_ind=3:end_ind=-1]
print("result tuple2=",tuple2)
#print type of tuple2
print("type of tuple2=",type(tuple2))

result tuple2= (44, 55)
type of tuple2= <class 'tuple'>